<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<footer>
    <hr>
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://www.linkedin.com/in/jeremie-legrand/" target="_blank"> Legrand Jérémie</a>
    </div>
</footer>